body{
    height: 100vh;
    text-align: center;
    }

    /*Trigger Button*/
    .i_login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative; 
    top: 50%;
    margin-top: 20px;
    }
    
    /*Modal*/
    h2 {
    font-weight: bold;
    color: #fff;
    }
    .close {
    color: #fff;
    transform: scale(1.2)
    }
    .modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right,#F87E7B,#B05574);
    }
    .form-control {
    margin: 1em 0;
    }
    .form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #fff;
    }
    .username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 4px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;  
    }
    .form-control::-webkit-input-placeholder {
    color: #eee;  
    }
    .form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
    }

    .submit_b {
    padding: 10px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
    }
    .submit_b:hover {
    background: #FAB87F;
    color: #fff;
    }

    #index_footer{
        display: flex;
    }

   #list {
        display: block;
        width: 200px;
        text-align: center;
        background-color: #FAB87F;
        border: 2px solid #FAB87F;
        font-size: 16px;
        color: #FAB87F;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 24px;
        border-radius: 4px;
        position: relative;
        margin-right: 10px;
      }